.GeoCity{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 5px 5px 5px 20px;
}
.Content{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    h2:first-child{
        text-decoration: underline;
    }
}
.Icon{
    display: flex;
    align-items:center;
    img{
        width: 100px;
        height: 100px;
    }
}
