.CityWeather{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Container{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 10px 0 10px 0 ;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.PhotoCityContainer{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    img{
        border: 2px solid #000;
        border-radius: 15px;
        width: 500px;
        height: 400px;
    }
}

.WeatherContent{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.2em;
   
    h1:first-child{
        text-decoration: underline;
    }
    span{
        padding: 5px;
    }
}
.Icon{
    display: flex;
    align-items:center;
    img{
        width: 100px;
        height: 100px;
    }
    span{
        padding: 5px;
    }
}
.Info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

.ContentInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
