.BoardsWeather{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.ContainerCityBoard{
// width: 100%;
display: flex;
flex-wrap: wrap;
padding: 10px 0 10px 0;
justify-content: space-evenly;
}
.ContentContainer{
    width: 100%;
    display: flex;
}