.MyMap {
    width: auto;
    display: flex;
    align-items: center;
    border: 2px solid #0078d6;
  }
  
  .MarkerBtn {
    background: none;
    border: none;
    cursor: pointer;
    i{
      font-size: 20px;
      color: firebrick;
    }
  }